<!doctype html>
{% load widget_tweaks static %}
<html lang="pt-br" Xmanifest="appcache.manifest">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nossas Lojas</title>
    <meta name="description" content="Pagina de Matricula de Estudantes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'website/img/icon.png' %}">
    <meta name="theme-color" content="#F77F00">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Escola das Nacoes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon-precomposed" href="img/icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/icon.png">
    <meta name="msapplication-TileColor" content="#F77F00">

    <script>
    if (window.location.protocol != "https:" && window.location.hostname == "sergiolopes.github.io")
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>

</head>
<body>
<div class="current-page">


<main class="estudantes">

<div class="topo-fixo z-depth-1">
    <div class="valign-wrapper amber darken-2 white-text">
		<div>
			<a href="{% url 'website:index2' %}"><i class="material-icons waves-effect waves-light waves-circle">arrow_back</i></a>
		</div>

        <h5 class="titulo">Estudantes</h5>

        <div>
            <i class="material-icons waves-effect waves-light
                      waves-circle dropdown-button"
                data-activates="submenu" data-gutter="5"
                data-constrainwidth="false">
                    more_vert
            </i>
            <ul id="submenu" class="dropdown-content">
            	<li><a class="black-text" href="pagar-estacionamento.html">Cursos</a></li>
            	<li><a class="black-text" href="{% url 'website:index2' %}">Entrada</a></li>
            </ul>
        </div>
    </div>

</div>

    <div id="estudantes" class="section">
        <br>
        <br>
        <br>
        <br>
          <form method="get">
            <div class="well">
              <h4 style="margin-left: 100">Busca avançada de membros</h4>
              <div>
                <div class="form-group col-sm-4 col-md-3">
                  &nbsp &nbsp Nome
                  {% render_field filter.form.nome class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  &nbsp &nbsp Celular
                  {% render_field filter.form.celular class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                  &nbsp &nbsp E-mail
                  {% render_field filter.form.email class="form-control" %}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Pesquisar
              </button>
                <div align="right">
                    <a href="{% url 'website:cadastra_estudante2' %}" class="btn btn-primary">
                      Cadastrar Estudante
                    </a>
                </div>
            </div>
          </form>
        {% for user in filter.qs %}

            <h6 class="container blue-grey-text"></h6>
            <div class="collection">

        <a class="collection-item waves-effect black-text"
           href="{% url 'website:perfil_estudante2' pk=user.id %}">{{ user.nome }}</a>
            </div>
        {% endfor %}
	</div>

</main>

</div><!--/.current-page-->

</body>
</html>