<!doctype html>
{% load widget_tweaks static %}
<html lang="pt-br" Xmanifest="appcache.manifest">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cadastro do Estudante</title>
    <meta name="description" content="Detalhe do Estudante">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'website/img/icon.png' %}">
    <meta name="theme-color" content="#F77F00">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Escola das Nacoes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon-precomposed" href="img/icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/icon.png">
    <meta name="msapplication-TileColor" content="#F77F00">

    <script>
    if (window.location.protocol != "https:" && window.location.hostname == "sergiolopes.github.io")
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>

</head>
<body>
<div class="current-page">


<main class="estudante">

	<div class="topo-fixo z-depth-1">
    <div class="valign-wrapper amber darken-2 white-text">
		<div>
			<a href="{% url 'website:search2' %}"><i class="material-icons waves-effect waves-light waves-circle">arrow_back</i></a>
		</div>

        <h5 class="titulo">{{ estudante.nome }}</h5>

        <div>
            <i class="material-icons waves-effect waves-light
                      waves-circle dropdown-button"
                data-activates="submenu" data-gutter="5"
                data-constrainwidth="false">
                    more_vert
            </i>
            <ul id="submenu" class="dropdown-content">
            	<li><a class="black-text" href="pagar-estacionamento.html">Cursos</a></li>
            	<li><a class="black-text" href="{% url 'website:index2' %}">Entrada</a></li>
            </ul>
        </div>
    </div>

    </div>

	<div class="section white">
		<div class="row container">
            <br>
			<h2 class="header">{{ estudante.nome }}</h2>
		</div>
	</div>

	<div class="section amber lighten-5">
		<div class="row container">
			<p>Celular: <strong>{{ estudante.celular }}</strong></p>
			<p>Data de Aniverário: <strong>{{ estudante.diaAniversario }} de {{ estudante.mesAniversario }}</strong></p>
			<p>Email: <strong>{{ estudante.email }}</strong></p>
			<p>Endereço: <strong>{{ estudante.endereco }}</strong></p>
			<p>Cpf: <strong>{{ estudante.cpf }}</strong></p>
            <div align="right">
                <a href="{% url 'website:atualiza_estudante2' pk=estudante.id %}" class="btn btn-primary">
                  Atualizar Cadastro
                </a>
            </div>
		</div>
	</div>

	<div class="section white">
		<div class="row container">
            <br>
			<h3 class="header">Cursos</h3>
		</div>
	</div>

	<div class="section amber lighten-5">
		<div class="row container">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" align="left" >Curso</th>
                <th scope="col" align="top">&nbsp &nbsp Pagamento</th>
                <th scope="col" align="top">&nbsp &nbsp Pendência</th>
                <th scope="col">&nbsp &nbsp Ação</th>
              </tr>
            </thead>
            <tbody>
                {% for cursoperiodoestudante in cursoperiodoestudante %}
                    <tr>
                        <td><a class="nav-link" href="{% url 'website:periodo_curso' pk=cursoperiodoestudante.cursoPeriodo.id %}">{{ cursoperiodoestudante.cursoPeriodo }}</a></td>
                        {% if cursoperiodoestudante.cursoPeriodo.ano == 2019 %}
                            <td>&nbsp &nbsp {{ cursoperiodoestudante.pagamento}} </td>
                            <td>&nbsp &nbsp ---</td>
                            <td><a href="{% url 'website:pagamento' pk=cursoperiodoestudante.id %}"
                               class="btn btn-primary">
                              Pagar
                                </a>
                            </td>
                        {% else %}
                            <td>&nbsp &nbsp --- </td>
                            {% if cursoperiodoestudante.financeiro == 0 %}
                                <td>&nbsp &nbsp Sim</td>
                                <td>
                                    Procure a secretaria
                                </td>
                            {% else %}
                                <td>&nbsp &nbsp Não</td>
                                <td>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
            <a href="{% url 'website:matricula_membro2' pk=estudante.id %}"
               class="btn btn-primary">
              Matricular
            </a>
        </div>
    </div>
</main>

</div><!--/.current-page-->

</body>
</html>