{% extends "website/_layouts/base.html" %}

{% block title %}Perfil do Estudantes{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Perfil do Estudante</h5>

            <table class="table">
              <tbody>
                  <tr>
                    <p>{{ estudante.nome }}</p>
                    <p><b>Matricula:</b> {{ estudante.matricula }}</p>
                    <p><b>Email:</b> {{ estudante.email }}</p>
                    <p><b>Endereço:</b> {{ estudante.endereco }}</p>
                    <p><b>Cpf:</b> {{ estudante.cpf }}</p>
                    <p><b>Celular:</b> {{ estudante.celular }}</p>
                    <p><b>Data de Aniverário:</b> {{ estudante.diaAniversario }} de {{ estudante.mesAniversario }}</p>
                    <p><b>Batismo:</b>
                      {% if estudante.batismo == 1 %}
                        Sim
                      {% else %}
                        Não
                      {% endif %}
                    </p>
                    <p><b>Escolaridade:</b> {{ estudante.escolaridade }}</p>
                    <p><b>Profissão:</b> {{ estudante.profissao }}</p>
                    <a href="{% url 'website:atualiza_estudante' pk=estudante.id %}"
                       class="btn btn-primary">
                      Atualizar
                    </a>
                    <a href="{% url 'website:deleta_estudante' pk=estudante.id %}"
                      class="btn btn-danger">
                        Excluir
                    </a>
                  </tr>
              </tbody>
            </table>
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Curso</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Período</th>
                            <th scope="col">Pendência?</th>
                            <th scope="col">Ação</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for cursoperiodoestudante in cursoperiodoestudante %}
                            <tr>
                              <td><a class="nav-link" href="{% url 'website:periodo_curso' pk=cursoperiodoestudante.cursoPeriodo.id %}">{{ cursoperiodoestudante.cursoPeriodo }}</a></td>
                              <td>{{ cursoperiodoestudante.cursoPeriodo.ano }}</td>
                              <td>{{ cursoperiodoestudante.cursoPeriodo.semestre }}</td>
                                {% if cursoperiodoestudante.aprovacao == 0 %}
                                  {% if cursoperiodoestudante.cursoPeriodo.curso.tipoCurso.id == 2 %}
                                    <td><a class="nav-link" href="{% url 'website:curso_periodo_pendencia' pk=cursoperiodoestudante.id %}">Sim</a></td>
                                  {% else %}
                                    <td> Sim </td>
                                  {% endif %}
                                {% else %}
                                  <td> Não </td>
                                {% endif %}
                                <td><a href="{% url 'website:curso_periodo_pendencia' pk=cursoperiodoestudante.id %}"
                                   class="btn btn-primary">
                                  Pagar
                            </a></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
            <a href="{% url 'website:matricula_membro' pk=estudante.id %}"
               class="btn btn-primary">
              Matricular
            </a>
          <hr />
            <a href="{% url 'website:lista_estudantes' %}"
               class="btn btn-primary">
              Voltar
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}