{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% block title %}Pagamentos do Curso do Estudante{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pagamento efetudado com sucesso</h5>
          <p>Pagamento efetuado com sucesso! Clique em voltar para Ir ao perfil do aluno</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}